.shadow {
  -webkit-box-shadow: 0px -2px 10px rgba(1, 1, 1, 0.3);
  box-shadow: 0px -2px 10px rgba(1, 1, 1, 0.3);
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
object {
  width: 100%;
  height: 700px;
  margin-bottom: 0.9375em;
}
button,
.button {
  color: #ecf0f0;
  background-color: #1d1e20;
  transition: all 0.15s;
}
button:hover,
.button:hover,
button:active,
.button:active,
button.on,
.button.on {
  color: #1d1e20;
  background-color: #ecf0f0;
}
.margin {
  margin: 0.9375em;
}
.no-margin {
  margin: 0;
}
.margin-top {
  margin-top: 0.9375em;
}
.margin-bottom {
  margin-bottom: 0.9375em;
}
.margin-left {
  margin-left: 0.9375em;
}
.margin-right {
  margin-right: 0.9375em;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.hidden {
  display: none;
}
.text-centered {
  text-align: center;
}
.text-heavy {
  font-weight: 600;
}
.text-light {
  font-weight: 300;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-light {
  color: #ecf0f0;
}
.text-dark {
  color: #1d1e20;
}
.text-dark-transparent {
  color: rgba(29, 30, 32, 0.85);
}
.text-shadow {
  -webkit-text-shadow: 0 0 10px rgba(1, 1, 1, 0.7);
  text-shadow: 0 0 10px #010101;
}
.inline-list {
  list-style-type: none;
  animation: body-move 3s ease infinite;
}
.inline-list li {
  display: inline-block;
}
.inline-list li a {
  display: block;
  width: 100%;
}
.inline-list.four-up {
  margin: 0;
}
.inline-list.four-up li {
  margin: 0;
  display: inline-block;
  width: 25%;
}
@media only screen and (max-width: 640px) {
  .inline-list.stack-for-small li {
    display: block;
  }
  .inline-list.stack-for-small li a {
    display: block;
    width: 100%;
  }
  .inline-list.stack-for-small.four-up {
    margin: 0;
  }
  .inline-list.stack-for-small.four-up li {
    margin: 0;
    display: block;
    width: 100%;
  }
}
.section {
  width: 100%;
  position: relative;
  z-index: 5;
}
.section .content {
  display: block;
}
.section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.section.fixed.fullscreen {
  height: 100%;
  bottom: 0;
}
#body-shade {
  position: fixed;
  display: none;
  top: 75px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 0.15s;
}
#body-shade.on {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
@media only screen and (max-width: 1024px) {
  #body-shade {
    top: 65px;
  }
}
@media only screen and (max-width: 640px) {
  #body-shade {
    top: 65px;
  }
}
#navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  max-height: 75px;
  width: 100%;
  z-index: 10;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: transparent;
  transition: background-color 0.15s;
}
#navigation.alt-colors {
  background-color: rgba(29, 30, 32, 0.85);
}
#navigation.alt-colors ul li a {
  color: #ecf0f0;
}
#navigation.alt-colors ul li a:hover {
  color: #1d1e20;
}
#navigation #nav-menu {
  position: relative;
  display: none;
  width: 65px;
  height: 65px;
  padding: 0;
  margin-right: -0.9375em;
  color: #ecf0f0;
}
#navigation #nav-menu span {
  position: absolute;
  display: block;
  width: 15px;
  height: 0;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: 0 10px 0 1px #ecf0f0, 0 16px 0 1px #ecf0f0, 0 22px 0 1px #ecf0f0;
  box-shadow: 0 10px 0 1px #ecf0f0, 0 16px 0 1px #ecf0f0, 0 22px 0 1px #ecf0f0;
}
#navigation #nav-menu.on {
  background-color: #ecf0f0;
}
#navigation #nav-menu.on span {
  -webkit-box-shadow: 0 10px 0 1px #1d1e20, 0 16px 0 1px #1d1e20, 0 22px 0 1px #1d1e20;
  box-shadow: 0 10px 0 1px #1d1e20, 0 16px 0 1px #1d1e20, 0 22px 0 1px #1d1e20;
}
#navigation .logo {
  position: relative;
  display: inline-block;
  height: 75px;
  padding-top: 10px;
}
#navigation .logo img {
  height: 55px;
}
#navigation ul {
  font-size: 16px;
  line-height: 35px;
  margin: 0;
}
#navigation ul li {
  margin: 0;
  text-align: center;
}
#navigation ul li a {
  padding: 20px 15px;
  color: #ecf0f0;
  transition: all 0.15s;
}
#navigation ul li a:hover {
  color: #1d1e20;
  background-color: #ecf0f0;
}
@media only screen and (max-width: 1024px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation ul {
    font-size: 15px;
  }
  #navigation ul li a {
    transition: all 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation #nav-menu {
    display: inline-block;
    float: right;
  }
}
#offcanvas-navigation {
  position: fixed;
  top: 65px;
  left: 100%;
  right: 0;
  height: 100%;
  margin-right: -100%;
  z-index: 9;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: #1d1e20;
  transition: all 0.15s;
}
#offcanvas-navigation ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}
#offcanvas-navigation ul li {
  display: block;
  width: 100%;
}
#offcanvas-navigation ul li a {
  display: block;
  width: 100%;
  padding: 5px 15px;
  color: #ecf0f0;
  transistion: all 0.15s;
}
#offcanvas-navigation ul li a:hover {
  color: #222;
  background-color: #ecf0f0;
}
#offcanvas-navigation.on {
  left: 65px;
  right: 0;
  margin-left: 0;
}
#particles {
  position: absolute;
  width: 100%;
  top: 0;
  height: 400px;
  z-index: -10;
  background-color: #1d1e20;
}
#welcome {
  margin-top: -3px;
}
#welcome .content {
  height: 400px;
}
#welcome .content h1,
#welcome .content h3 {
  color: #ecf0f0;
}
#portfolio {
  background-color: #4383c1;
}
#portfolio .portfolio-list {
  list-style: none;
  margin: 0 0 0.9375em 0;
}
#portfolio .portfolio-list li {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.9375em;
  background-color: #1d1e20;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#portfolio .portfolio-list li .title {
  background-color: rgba(29, 30, 32, 0.85);
  padding: 5px 0.9375em;
}
#portfolio .portfolio-list li .title span {
  float: none;
  display: inline-block;
  color: #ecf0f0;
  line-height: 45px;
  vertical-align: center;
  text-align: left;
  font-size: 2em;
  font-weight: 600;
}
#portfolio .portfolio-list li .title span.role {
  float: right;
  font-weight: 300;
  font-size: 1em;
}
#portfolio .portfolio-list li .description {
  height: 250px;
  text-align: center;
  padding: 0.9375em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#portfolio .portfolio-list li .description div {
  display: block;
  color: #ecf0f0;
}
@media only screen and (max-width: 640px) {
  #portfolio .portfolio-list li .title span {
    display: block;
    width: 100%;
    text-align: center;
  }
  #portfolio .portfolio-list li .title span.role {
    float: none;
    line-height: 24px;
  }
}
#portfolio-dash {
  background-image: url('../images/test.jpg');
}
#portfolio-jpp {
  background-image: url('../images/jpp-blur.png');
}
#portfolio-coderit {
  background-image: url('../images/test.jpg');
}
#portfolio-tip {
  background-image: url('../images/test.jpg');
}
#resume {
  background-color: #2bb462;
  color: #ecf0f0;
}
#resume #resume-button-bar {
  display: block;
  overflow: hidden;
  margin: 0 0 0.9375em 0;
}
#resume #resume-button-bar a {
  margin: 0;
}
#resume .resume {
  margin-bottom: 0.9375em;
  padding: 0.9375em;
  background-color: #ecf0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#resume .resume p {
  line-height: 24px;
  margin: 0;
}
#resume .resume .section {
  color: #1d1e20;
  margin-bottom: 0.9375em;
  display: none;
}
#resume .resume .section.on {
  display: block;
}
@media only screen and (max-width: 640px) {
  .resume p {
    float: none !important;
  }
}
#about {
  background-color: #ecf0f0;
}
#about p {
  color: #1d1e20;
  text-align: justify;
}
#about p:last-of-type {
  text-align: center;
  font-weight: 600;
}
#about img {
  margin-bottom: 0.9375em;
}
@media only screen and (max-width: 640px) {
  #about img {
    max-width: 200px;
    text-align: center;
  }
}
#footer {
  background-color: #1d1e20;
  color: #ecf0f0;
}
#footer p {
  line-height: 75px;
  margin: 0;
}
#footer .inline-list {
  margin: 0;
  float: right;
}
#footer .inline-list li {
  margin: 0;
  text-align: center;
}
#footer .inline-list li a {
  padding: 0 20px;
  color: #ecf0f0;
  font-size: 1.5em;
  line-height: 75px;
  transition: all 0.15s;
}
#footer .inline-list li a:hover {
  color: #222;
  background-color: #ecf0f0;
}
@media only screen and (max-width: 640px) {
  #footer p {
    text-align: center;
    line-height: 65px;
    width: 100%;
  }
  #footer .inline-list {
    width: 100%;
    float: none;
  }
  #footer .inline-list li {
    width: 20%;
  }
  #footer .inline-list li a {
    padding: 0;
    line-height: 65px;
  }
}
