body {
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin-top: 400px;
}
object {
  width: 100%;
  height: 700px;
  margin-bottom: 0.9375em;
}
#test-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  animation: move 3s ease infinite;
}
@keyframes move {
  50% {
    transform: translate(100px, 100px);
  }
}
.text-centered {
  text-align: center;
}
.text-heavy {
  font-weight: 600;
}
.text-light {
  font-weight: 300;
}
.text-uppercase {
  text-transform: uppercase;
}
.inline-list {
  list-style-type: none;
  animation: body-move 3s ease infinite;
}
.inline-list li {
  display: inline-block;
}
.inline-list li a {
  display: block;
  width: 100%;
}
.fixed-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.fixed-section.fullscreen {
  height: 100%;
  bottom: 0;
}
.heading.center {
  text-align: center;
}
.heading.left {
  text-align: left;
}
.heading.right {
  text-align: right;
}
.heading h1 {
  margin: 0.46875em 0 0 0;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  font-size: 80px;
  line-height: 60px;
}
.heading h2 {
  margin-bottom: 0.9375em;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.heading h2 .code {
  font-family: 'Source Code Pro', sans-serif;
}
@media only screen and (max-width: 1024px) {
  .heading h1 {
    margin: 0.46875em 0 0 0;
    font-size: 55px;
    line-height: 55px;
  }
  .heading h2 {
    margin-bottom: 0.9375em;
    font-size: 20px;
  }
}
#background-cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: 575px;
  z-index: -5;
  background-image: url('../images/crop2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 640px) {
  #background-cover {
    height: 365px;
    background-position: center center;
  }
}
#body-shade {
  position: fixed;
  display: none;
  top: 75px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 0.15s;
}
#body-shade.on {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
@media only screen and (max-width: 1024px) {
  #body-shade {
    top: 65px;
  }
}
@media only screen and (max-width: 640px) {
  #body-shade {
    top: 65px;
  }
}
#navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  max-height: 75px;
  width: 100%;
  z-index: 10;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: transparent;
  transition: background-color 0.15s;
}
#navigation.alt-colors {
  background-color: rgba(0, 0, 0, 0.8);
}
#navigation.alt-colors ul li a {
  color: #cccccc;
}
#navigation.alt-colors ul li a:hover {
  color: #222222;
}
#navigation #nav-menu {
  position: relative;
  display: none;
  width: 60px;
  height: 65px;
  padding: 0;
  margin-left: -0.9375em;
  color: #eeeeee;
}
#navigation #nav-menu span {
  position: absolute;
  display: block;
  width: 15px;
  height: 0;
  top: 15px;
  left: 20px;
  -webkit-box-shadow: 0 10px 0 1px #eeeeee, 0 16px 0 1px #eeeeee, 0 22px 0 1px #eeeeee;
  box-shadow: 0 10px 0 1px #eeeeee, 0 16px 0 1px #eeeeee, 0 22px 0 1px #eeeeee;
}
#navigation .logo {
  position: relative;
  display: inline-block;
  height: 75px;
  padding-top: 10px;
}
#navigation .logo img {
  height: 55px;
}
#navigation ul {
  font-size: 20px;
  line-height: 35px;
  margin: 0;
}
#navigation ul li {
  margin: 0;
  text-align: center;
}
#navigation ul li a {
  padding: 20px 15px;
  color: #eeeeee;
  transition: all 0.15s;
}
#navigation ul li a:hover {
  color: #222222;
  background-color: #eeeeee;
}
@media only screen and (max-width: 1024px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation ul {
    font-size: 15px;
  }
  #navigation ul li a {
    transition: all 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation #nav-menu {
    display: inline-block;
    float: left;
  }
}
#offcanvas-navigation {
  position: fixed;
  top: 65px;
  left: 0;
  right: 100%;
  height: 100%;
  margin-left: -100%;
  z-index: 9;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: #222222;
  transition: all 0.15s;
}
#offcanvas-navigation ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}
#offcanvas-navigation ul li {
  display: block;
  width: 100%;
}
#offcanvas-navigation ul li a {
  display: block;
  width: 100%;
  padding: 5px 15px;
  color: #eeeeee;
  transistion: all 0.15s;
}
#offcanvas-navigation ul li a:hover {
  color: #222;
  background-color: #eeeeee;
}
#offcanvas-navigation.on {
  left: 0;
  right: 50px;
  margin-left: 0;
}
#welcome {
  background-color: #333333;
}
#welcome .content {
  display: block;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#welcome .content h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#welcome .row {
  height: 500px;
}
#welcome .heading {
  padding-top: 75px;
}
#welcome .heading h1 {
  color: #eee;
}
@media only screen and (max-width: 640px) {
  #welcomeSection {
    margin-top: 65px;
  }
  #welcomeSection .row {
    height: 300px;
  }
  #welcomeSection .heading {
    padding-top: 0px;
    width: 200px;
    margin: 0 auto;
  }
  #welcomeSection .heading h1 {
    color: #eee;
  }
}
#portfolioSection {
  width: 100%;
  background-color: #2f519f;
}
#resumeSection {
  background-color: #2f519f;
  color: #eeeeee;
}
#resumeSection .resume {
  margin-bottom: 20px;
}
#resumeSection .resume p {
  line-height: 24px;
  margin: 0;
}
#resumeSection .resume .section {
  color: #cccccc;
  margin-bottom: 0.9375em;
}
#resumeSection .resume .section h2 {
  color: #cccccc;
}
@media only screen and (max-width: 640px) {
  .resume p {
    float: none !important;
  }
}
#aboutSection {
  background-color: #ee8732;
}
#aboutSection p {
  font-size: 22px;
  color: #222;
  text-align: justify;
}
#aboutSection p:last-of-type {
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  #aboutSection p {
    font-size: 18px;
  }
}
#footer-section {
  padding: 0;
  text-align: center;
  background-color: #222222;
  color: #eeeeee;
}
#footer-section p {
  font-size: 0.9375em;
  margin: 10px 0px;
}
#footer-section .inline-list {
  margin: 0;
  width: 100%;
}
#footer-section .inline-list li {
  margin: 0;
  text-align: center;
}
#footer-section .inline-list li a {
  padding: 10px 10px;
  color: #eeeeee;
  font-size: 1.25em;
  line-height: 1.25em;
  transition: all 0.15s;
}
#footer-section .inline-list li a:hover {
  color: #222;
  background-color: #eeeeee;
}
@media only screen and (max-width: 640px) {
  #footer-section p {
    text-align: center;
    width: 100%;
  }
  #footer-section .inline-list {
    width: 100%;
  }
  #footer-section .inline-list li {
    width: 100%;
  }
}
.imageList {
  text-align: center;
  margin: 0 auto;
}
.imageList .imageListItem {
  display: block;
  width: 100%;
  height: 250px;
  border: 2px #eeeeee solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.imageList .imageListItem h3 {
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 600;
}
.imageList .imageListItem img {
  width: 500px;
  height: 100%;
}
