.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  margin-top: 400px;
}
object {
  width: 100%;
  height: 700px;
  margin-bottom: 0.9375em;
}
button,
.button {
  color: #eeeeee;
  background-color: #252525;
  transition: all 0.15s;
}
button:hover,
.button:hover {
  color: #252525;
  background-color: #eeeeee;
}
@keyframes move {
  50% {
    transform: translate(100px, 100px);
  }
}
.margin {
  margin: 0.9375em;
}
.no-margin {
  margin: 0;
}
.margin-top {
  margin-top: 0.9375em;
}
.margin-bottom {
  margin-bottom: 0.9375em;
}
.margin-left {
  margin-left: 0.9375em;
}
.margin-right {
  margin-right: 0.9375em;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.text-centered {
  text-align: center;
}
.text-heavy {
  font-weight: 600;
}
.text-light {
  font-weight: 300;
}
.text-uppercase {
  text-transform: uppercase;
}
.inline-list {
  list-style-type: none;
  animation: body-move 3s ease infinite;
}
.inline-list li {
  display: inline-block;
}
.inline-list li a {
  display: block;
  width: 100%;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.section {
  width: 100%;
}
.section .content {
  display: block;
}
.section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.section.fixed.fullscreen {
  height: 100%;
  bottom: 0;
}
.heading.center {
  text-align: center;
}
.heading.left {
  text-align: left;
}
.heading.right {
  text-align: right;
}
.heading h1 {
  margin: 0.46875em 0 0 0;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  font-size: 80px;
  line-height: 60px;
}
.heading h2 {
  margin-bottom: 0.9375em;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.heading h2 .code {
  font-family: 'Source Code Pro', sans-serif;
}
@media only screen and (max-width: 1024px) {
  .heading h1 {
    margin: 0.46875em 0 0 0;
    font-size: 55px;
    line-height: 55px;
  }
  .heading h2 {
    margin-bottom: 0.9375em;
    font-size: 20px;
  }
}
#background-cover {
  position: fixed;
  top: 0;
  width: 100%;
  height: 575px;
  z-index: -5;
  background-image: url('../images/crop2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 640px) {
  #background-cover {
    height: 365px;
    background-position: center center;
  }
}
#body-shade {
  position: fixed;
  display: none;
  top: 75px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: transparent;
  transition: background-color 0.15s;
}
#body-shade.on {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}
@media only screen and (max-width: 1024px) {
  #body-shade {
    top: 65px;
  }
}
@media only screen and (max-width: 640px) {
  #body-shade {
    top: 65px;
  }
}
#navigation {
  position: fixed;
  top: 0;
  overflow: hidden;
  max-height: 75px;
  width: 100%;
  z-index: 10;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: transparent;
  transition: background-color 0.15s;
}
#navigation.alt-colors {
  background-color: rgba(37, 37, 37, 0.8);
}
#navigation.alt-colors ul li a {
  color: #eeeeee;
}
#navigation.alt-colors ul li a:hover {
  color: #252525;
}
#navigation #nav-menu {
  position: relative;
  display: none;
  width: 65px;
  height: 65px;
  padding: 0;
  margin-right: -0.9375em;
  color: #eeeeee;
}
#navigation #nav-menu span {
  position: absolute;
  display: block;
  width: 15px;
  height: 0;
  top: 15px;
  left: 25px;
  -webkit-box-shadow: 0 10px 0 1px #eeeeee, 0 16px 0 1px #eeeeee, 0 22px 0 1px #eeeeee;
  box-shadow: 0 10px 0 1px #eeeeee, 0 16px 0 1px #eeeeee, 0 22px 0 1px #eeeeee;
}
#navigation #nav-menu.on {
  background-color: #eeeeee;
}
#navigation #nav-menu.on span {
  -webkit-box-shadow: 0 10px 0 1px #252525, 0 16px 0 1px #252525, 0 22px 0 1px #252525;
  box-shadow: 0 10px 0 1px #252525, 0 16px 0 1px #252525, 0 22px 0 1px #252525;
}
#navigation .logo {
  position: relative;
  display: inline-block;
  height: 75px;
  padding-top: 10px;
}
#navigation .logo img {
  height: 55px;
}
#navigation ul {
  font-size: 16px;
  line-height: 35px;
  margin: 0;
}
#navigation ul li {
  margin: 0;
  text-align: center;
}
#navigation ul li a {
  padding: 20px 15px;
  color: #eeeeee;
  transition: all 0.15s;
}
#navigation ul li a:hover {
  color: #252525;
  background-color: #eeeeee;
}
@media only screen and (max-width: 1024px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation ul {
    font-size: 15px;
  }
  #navigation ul li a {
    transition: all 0.15s;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation {
    height: 65px;
  }
  #navigation .logo {
    height: 65px;
    padding-top: 10px;
  }
  #navigation .logo img {
    height: 45px;
  }
  #navigation #nav-menu {
    display: inline-block;
    float: right;
  }
}
#offcanvas-navigation {
  position: fixed;
  top: 65px;
  left: 100%;
  right: 0;
  height: 100%;
  margin-right: -100%;
  z-index: 9;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 300;
  background-color: #252525;
  background-image: url('../images/patterns/3.png');
  transition: all 0.15s;
}
#offcanvas-navigation ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 35px;
}
#offcanvas-navigation ul li {
  display: block;
  width: 100%;
}
#offcanvas-navigation ul li a {
  display: block;
  width: 100%;
  padding: 5px 15px;
  color: #eeeeee;
  transistion: all 0.15s;
}
#offcanvas-navigation ul li a:hover {
  color: #222;
  background-color: #eeeeee;
}
#offcanvas-navigation.on {
  left: 65px;
  right: 0;
  margin-left: 0;
}
#welcome {
  background-color: #252525;
}
#welcome .content {
  height: 400px;
}
#welcome .content h1,
#welcome .content h3 {
  color: #eeeeee;
}
#welcome canvas {
  margin-top: -400px;
  height: 400px;
}
@media only screen and (max-width: 640px) {
  #welcomeSection .content {
    height: 200px;
  }
}
#portfolio {
  background-color: #00a7b6;
}
#portfolio .portfolio-list {
  list-style: none;
  margin: 0 0 0.9375em 0;
}
#portfolio .portfolio-list li {
  width: 100%;
  height: 200px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
#portfolio .portfolio-list li .title,
#portfolio .portfolio-list li .description {
  float: left;
  height: 200px;
  text-align: center;
  padding: 0.9375em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#portfolio .portfolio-list li .title {
  width: 25%;
  background-color: #252525;
}
#portfolio .portfolio-list li .title span {
  color: #eeeeee;
  font-size: 2em;
}
#portfolio .portfolio-list li .description {
  width: 75%;
  background-color: #eeeeee;
}
#resume {
  background-color: #00a7b6;
  color: #eeeeee;
}
#resume .resume {
  margin-bottom: 20px;
}
#resume .resume p {
  line-height: 24px;
  margin: 0;
}
#resume .resume .section {
  color: #eeeeee;
  margin-bottom: 0.9375em;
}
@media only screen and (max-width: 640px) {
  .resume p {
    float: none !important;
  }
}
#about {
  background-color: #eeeeee;
}
#about p {
  color: #252525;
  text-align: justify;
}
#about p:last-of-type {
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 1024px) {
  #aboutSection p {
    font-size: 18px;
  }
}
#footer {
  padding: 0;
  text-align: center;
  background-color: #252525;
  background-image: url('../images/patterns/3.png');
  color: #eeeeee;
}
#footer p {
  font-size: 0.9375em;
  margin: 10px 0px;
}
#footer .inline-list {
  margin: 0;
  width: 100%;
}
#footer .inline-list li {
  margin: 0;
  text-align: center;
}
#footer .inline-list li a {
  padding: 10px 10px;
  color: #eeeeee;
  font-size: 1.25em;
  line-height: 1.25em;
  transition: all 0.15s;
}
#footer .inline-list li a:hover {
  color: #222;
  background-color: #eeeeee;
}
@media only screen and (max-width: 640px) {
  #footer-section p {
    text-align: center;
    width: 100%;
  }
  #footer-section .inline-list {
    width: 100%;
  }
  #footer-section .inline-list li {
    width: 100%;
  }
}
.imageList {
  text-align: center;
  margin: 0 auto;
}
.imageList .imageListItem {
  display: block;
  width: 100%;
  height: 250px;
  border: 2px #eeeeee solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}
.imageList .imageListItem h3 {
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-weight: 600;
}
.imageList .imageListItem img {
  width: 500px;
  height: 100%;
}
