<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Brandon Littell - Software Engineer</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css' />
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/blstyle.css" />
    <link rel="stylesheet" href="css/blico.css" />
  
    <script src="js/min/modernizr.min.js"></script>
</head>
<body>

    <div id="welcome">
        <h1>Hi, I'm Brandon</h1>
    </div>

    <div id="about-me">
        <p>I’m a Software Engineer at Microsoft, working on fun and useful note-taking experiences. I’m primarily focused on Sticky Notes, a little app helpful for quickly capturing your thoughts. I strive for elegant solutions that are not only simple, but immediately approachable. I also take pride in documentation, accessibility and clean branching.</p>
        <p>Away from the computer I’m easily found playing hockey and soccer, watching and analyzing film/tv, or practicing my photography. I also love travel and experiencing places for the first time.</p>
    </div>

    <div id="contact">
        <ul>
            <li><a href="https://github.com/BrandonLittell" target="_blank" aria-hidden="true" data-icon="&#xe002;">Github</a></li>
            <li><a href="mailto:brandon@brandonlittell.com" target="_blank" aria-hidden="true" data-icon="&#xe007;">Mail</a></li>
            <li><a href="https://twitter.com/brandon_littell" target="_blank" aria-hidden="true" data-icon="&#xe001;">Twitter</a></li>
            <li><a href="https://www.instagram.com/brandonlittell/" target="_blank" aria-hidden="true" data-icon="&#xe001;">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/brandonlittell/" target="_blank" aria-hidden="true" data-icon="&#xe003;">LinkedIn</a></li>                  
        </ul>
    </div>

    <script src="js/min/particles.min.js"></script>
    <script src="js/min/jscripts.min.js"></script>

</body>
</html>
