<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Brooklyn Littell</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div class="flex-container">
        <div>
            <div id="welcome">
                <img id="profile" class="no-select" src="https://s.gravatar.com/avatar/37b68d51338902d3e5bc0b9d425b09ec?s=80"/>
                <h1 class="no-select">👋 Hi, I'm <span class="pronouns">Brooklyn</span></h1>
            </div>
    
            <div id="about-me">
                <p class="no-select">I'm an indie video game developer working on an unannounced project. I can't wait to share more about it! I also build tech for films, dabble in screenwriting, and make music.</p>
                <p class="no-select">Previously, I was a software engineer at Microsoft for over 9 years. Over that time I incubated new technology in <a href="https://www.microsoft.com/applied-sciences" target="_blank">ASG</a>, helped ship <a href="https://aka.ms/GetJournal" target="_blank">Microsoft Journal</a>, built architecture for <a href="https://apps.microsoft.com/detail/9nblggh4qghw" target="_blank">Sticky Notes</a>, and worked on digital pen interactions in Windows.</p>
                <p class="no-select">I currently reside in Seattle, studied at Rochester Institute of Technology, and grew up in Pittsburgh.</p>
            </div>
    
            <div id="contact">
                <ul class="inline-list no-select">
                    <li><a href="mailto:b@blittell.com" target="_blank" aria-hidden="true">
                        <i class="far fa-envelope"></i>
                    </a></li>
                    <li><a href="https://github.com/BrooklynLittell" target="_blank" aria-hidden="true">
                        <i class="fab fa-github"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/in/brooklynlittell/" target="_blank" aria-hidden="true">
                        <i class="fab fa-linkedin"></i>
                    </a></li>
                    <li><a href="https://www.instagram.com/ghostypunky/" target="_blank" aria-hidden="true">
                        <i class="fab fa-instagram"></i>
                    </a></li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>
