body {
    height: 100%;
    background: #333333;
    margin: 0;
}

h1 {
    font-size: 44px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #dddddd;
}

.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me {
    max-width: 600px;
    p {
        color: #cccccc;
        font-size: 16px;
        font-family: "Open Sans";
        text-align: justify;
    }
}

a {
    color: #ffffff;

    :hover {
        color: #ff00ff;
    }
}

.inline-list {
    list-style-type: none;
    animation: body-move 3s ease infinite;

    li {
        display: inline-block;

        a {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 6px;
            font-size: 24px;
        }
    }
}
@media only screen and (max-width: 400px) {

    .inline-list.stack-for-small {
        li {
            display: block;

            a {
                display: block;
                width: 100%;
            }
        }
    }
}