@textColor: #eeeeee;
@linkColor: #ffc8a3;
@linkHoverColor: #2a87e4;
@backgroundColor: #201d1f;

@openSans: 'Open Sans', Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
@merriweather: 'Merriweather', serif;
@font: @merriweather;

body {
    height: 100vh;
    background: @backgroundColor;
    margin: 0;
}

h1 {
    margin: 16px 0px 20px 0px;
    font-size: 3em;
    font-family: @font;
    font-weight: bold;
    color: @textColor;
}

.pronouns {
    display: inline-block;
    position: relative;
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
    color: #cccccc;
}

a {
    color: @linkColor;
    font-weight: bold;
    text-decoration: underline dotted;

    &:hover {
        color: @linkHoverColor;
    }
}



#about-me {
    max-width: 600px;
    p {
        color: @textColor;
        font-family: @font;
        font-size: 18px;
        line-height: 30px;
        text-align: left;
        text-wrap: pretty;
    }
}

#contact {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 36px 0 12px 0;
}

#welcome {
    position: relative;
    display: block;
    height: 200px;
    margin: 0 0 24px 0;
}

.profile-section {
    width: 200px;
    height: auto;
    display: block;
    position: relative;
    float: right;
}

.profile-picture {
    border-radius: 40%;
    width: 200px;
}

.profile-emoji {
    position: absolute;
    bottom: -10px;
    right: -10px;
    margin: 0;
    padding: 0;
    font-size: 4em;
}

.greeting {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 350px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-container {
    display: flex;
    padding: 24px;
    justify-content: center;
}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: -10px 0 0 -12px;

    li {
        display: inline-block;

        a {
            display: block;
            width: 60px;
            text-align: center;
            padding: 15px 0px;
            margin: 0;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 800px) {
    body {
        height: auto;
    }

    .flex-container {
        align-items: stretch;
        justify-content: center;
    }

    #about-me {
        max-width: auto;
    }

    .profile-section {
        float: unset;
        margin: 0 auto;
    }

    #welcome {
        height: auto;
    }
    
    .greeting {
        margin: 36px 0;
        position: relative;
        text-align: center;
        max-width: unset;
        transform: none;
    }

    .pronouns {
        display: block;
    }
}